.sign-up {
  display: flex;
  flex-direction: column;
  width: 31vw;

  .title {
    margin: 10px 0;
  }
  @media only screen and (max-width: 790px) {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
}
